html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.content {
    margin: 20px 0px 0px 20px;
    overflow: hidden;
}

.content .field,.content .field-bt {
    float:left;
}

.field {
    width: 500px;
    height: 500px;
    background-color: #8DD4FE;
    border: 2px solid #000106;
    position: relative;
    overflow: hidden;
}

.field-bt {
    width: 200px;
    padding-left:20px;
}

.new-dot,.dot-check {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top:10px;
    display: block;
    color: white;
    font-size: 20px;
}

.new-dot {
    background-color: #606060;
}

.dot-check {
    background-color: #0F5428;
    margin-top: 20px;
}

.new-dot:hover,.dot-check:hover,.new-dot:active,.dot-check:active,.new-dot:focus,.dot-check:focus {
    color: white;
    text-decoration: none;
}
.circle {
    border-radius: 50%;
    position: absolute;
}